---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro';
import ValueStrip from '../components/ValueStrip.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import Testimonials from '../components/Testimonials.astro';
import Process from '../components/Process.astro';
import FAQ from '../components/FAQ.astro';
import ServiceAreas from '../components/ServiceAreas.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <NavBar />
  <main>
    <Hero />
    <TrustBar />
    <ValueStrip />
    <About />
    <Services />
    <WhyChooseUs />
    <Testimonials />
    <Process />
    <FAQ />
    <ServiceAreas />
    <Contact />
  </main>
  <Footer />
</Layout>
